# Objectives
* Collections
    * Tuple
    * Strings
    * Range
    * List
    * Dictionaries
    * Set
    * Collection Protocol

## Collections
We already discussed these built-in collections
* str: the immutable string sequence of Unicdoe code points
* list: the mutable sequence of objects
* dict: the mutable dictionary mapping from immutable keys to mutable objects

## Tuple
Immutable sequence of arbitrary objects. Once created they cannot be replaced or removed and new elements cannot be added.

Similar to a list but they are delimited by parenthesis rather than brackets.

In [1]:
t = ("Ogden", 1.99, 2)
type(t)

tuple

In [3]:
# TO access members use brackets like any other collection
print(t[0])

Ogden

In [5]:
# get number of elements
len(t)

3

In [6]:
# Iterate over the collection
for item in t:
    print(item)

Ogden
1.99
2

In [8]:
# Concatenating and repetition of tuples
t + ("hello", 265e10)

('Ogden', 1.99, 2, 'hello', 2650000000000.0)

In [9]:
t

('Ogden', 1.99, 2)

In [10]:
# Repeat
t * 4

('Ogden', 1.99, 2, 'Ogden', 1.99, 2, 'Ogden', 1.99, 2, 'Ogden', 1.99, 2)

In [11]:
# Nested tuples
a = ((220, 284), (1184, 456), (99, 10))

In [12]:
print(a)

((220, 284), (1184, 456), (99, 10))

In [13]:
print(a[2][1])

10

In [14]:
# Parentheis are optional
p = 1, 1, 2, 4, 5, 8
p

(1, 1, 2, 4, 5, 8)

In [15]:
type(p)

tuple