# Defining Functions
Use the **def** keyword followed by the function name, an argument list in parantheses, and a colon to start the new block.

Make sure you follow **PEP8** for Style: https://www.python.org/dev/peps/pep-0008/#function-and-variable-names

In [4]:
#Square function
def square(x):
    return x * x

In [5]:
d = square(4)
print(d)

16

In [6]:
d = square(4.9)
print(d)

24.010000000000005

In [8]:
#Task create an even_or_odd function

In [13]:
def even_or_odd(n):
    if n % 2 == 1:
        print("Odd")
        return
    print("Even")

In [14]:
even_or_odd(4)

Even

In [15]:
even_or_odd(5)

Odd

## Assigning one reference to another

For example, remember that integers are **immutable** (cannot change the object)

We can find the **values** and the **identity** with the **id()**

In [3]:
x=100
# X points to a different address
x=500

In [4]:
a = 596
id(a)

140700713301808

In [5]:
b= 1350
id(b)

140700713302320

In [6]:
b = a
id(b)

140700713301808

In [7]:
id(a) == id(b)

True

In [8]:
a is b

True

In [9]:
b = 40
a is b

False

In [10]:
print(a)
print(b)

596
40

In [11]:
b = 596

In [12]:
a is b

False

## References to mutable objects
The assignment operator only binds objects to names, it never copies an object by value

In [13]:
r = [2, 3, 4]
print(r)

[2, 3, 4]

In [14]:
#make a copy
s = r
print(s)

[2, 3, 4]

In [15]:
s is r

True

In [16]:
r[1] = 99

In [17]:
print(r)
print(s)

[2, 99, 4]
[2, 99, 4]

In [18]:
p = [4, 7, 11]
q = [4, 7, 11]
p == q

True

In [19]:
id(p) == id(q)

False

In [21]:
p[0] = 99
print(p)
print(q)

[99, 7, 11]
[4, 7, 11]

## Modifying external objects in a function
You can modify them because it is the self-same list reference inside the function

In [22]:
m = [9, 15, 24]
def modify(k):
    k.append(39)
    print("k = ", k)
    
# Now call it
modify(m)
print(m)

k =  [9, 15, 24, 39]
[9, 15, 24, 39]

## Binding new object in a function

Function arguments are passed by **pass by object reference** This means that the value of the reference is copied into the function argument, not the value of the referred object: no objects are copied.

In [25]:
f = [14, 3, 37]

def replace(g):
    g = [17, 28, 45]
    print("g = ", g)

#call it
replace(f)
print("f = ", f)

g =  [17, 28, 45]
f =  [14, 3, 37]

In [26]:
def replace_content(g):
    g[0] = 17
    g[1] = 28
    g[2] = 45
    print("g = ", g)
    
print("f = ", f)
replace_content(f)
print("f = ", f)

f =  [14, 3, 37]
g =  [17, 28, 45]
f =  [17, 28, 45]

## Python return semantics

Uses the **return** keyword. It uses the same semantics of pass-by-object reference as function arguments.

In [27]:
def f(d):
    return d

c = [7, 89, 22]
e = f(c)
#test for same object
c is e

True

Note: remember that **is** only returns True when the two names refer to the same object

## Python Type System
Python can be characterized as having a dynamic and strong type system

### Dynamic typing
The **type** of an object isn't resolved until the program is running, and it does not need to be specified up front when the program is running

In [30]:
def add(a,b):
    return a + b

In [31]:
add(5, 7)

12

In [32]:
add(4.5, 8.9)

13.4

In [33]:
add("hello", "world")

'helloworld'

In [34]:
add([1, 2], [3, 4, 5])

[1, 2, 3, 4, 5]

### Strong typing
The strength of the type system can be demonstrated by attempting to **add()** types for which the addition has not been defined, such as strings and floats

In [35]:
add("Hi", 9.2)

TypeError: must be str, not float

Note: python in general will NOT perform implicit conversion between object types.

## Variable declaration and scoping

### The LEGB Rule
* Local: names defined inside the current function
* Enclosing: names defined inside any and all enclosing functions
* Global: names defined at the top-level of a module
* BUilt-in: names built-in to the Python language

## Returning and unpacking tuples
This is often used when returning multiple values from a function

In [5]:
def minmax(items):
    return min(items), max(items)

minmax([83, 33, 84, 32, 31, 86])

(31, 86)

In [4]:
lower, upper = minmax([83, 33, 84, 31, 32, 86])
print(lower)
print(upper)

31
86

In [6]:
values = minmax([83, 33, 84, 32, 31, 86])
print(values[0])
print(values[1])

31
86

In [7]:
# Task: swapping variables with tuple unpacking
a = "jelly"
b = "bean"
print("a is ", a)
print("b is ", b)
b, a = a, b
print("a is now ", a)
print("b is now ", b)

a is  jelly
b is  bean
a is now  bean
b is now  jelly

### Tuple constructor
**tuple()** will create one tuple from an existing collection

In [8]:
tuple([1, 2, 3, 4, 5, 6])

(1, 2, 3, 4, 5, 6)

In [9]:
tuple("Hello World")

('H', 'e', 'l', 'l', 'o', ' ', 'W', 'o', 'r', 'l', 'd')

## Test for membership
Use the **in** built-in

In [11]:
5 in (3, 6, 22, 7, 5)

True

In [12]:
5 not in (3, 6, 22, 7, 5)

False

# Strings in Action

In [13]:
# Get the length of strings
len("This is super cool")

18

In [14]:
# Concatenation

"New" + "found" + "land"

'Newfoundland'

In [16]:
s = "New"
s += "found"
s += "land"
print(s)

Newfoundland

## Joining Strings
Python recommends to use the **join()** instead of **+= or +** operators, because it is more efficient

The join() method takes a collection of strings as an argument and produces a new string by inserting a separator between each of them. This separator is the string on which join() is called

In [18]:
teams = ";".join(["Real Madrid", "Manchester City", "Juventus"])
teams

'Real Madrid;Manchester City;Juventus'

In [19]:
# Join with no separator
"".join(["high", "low", "middle"])

'highlowmiddle'

## Spliting Records
Use the **split()** built-in

In [20]:
teams.split(";")

['Real Madrid', 'Manchester City', 'Juventus']

## String formatting
One of the most used methods from strings is **format()**. This method can be used on any string containing so-called replacement fields which are surrounded by curly braces

In [22]:
print("The age of {0} is {1}".format("Waldo", 33))

The age of Waldo is 33

In [23]:
# Repeat fields
print("The age of {0} is {1}. {0}'s birthday is on {2}'".format("Waldo", 33, "October 31st"))

The age of Waldo is 33. Waldo's birthday is on October 31st'

In [24]:
# You can ommit your numbers
"Reticulating spline {} of {}".format(4, 7)

'Reticulating spline 4 of 7'

In [27]:
x = "60N"
#Use name fields instead of ordinals
"Current position {latitude} {longitude}".format(latitude=x, longitude="5E")

'Current position 60N 5E'

### If you need help
Use **help(str)**

# Range
It is used to represent arithmetic progression of integers. They are created by calls to the **range()** constructor, and there is no literal form.

In [28]:
range(5)

range(0, 5)

In [29]:
# sometimes are used to create consecutive integers into a collection
for i in range(5):
    print(i)

0
1
2
3
4

In [30]:
# Set the starting value
range(5, 10)

range(5, 10)

In [31]:
# Cast it to a list
list(range(5, 10))

[5, 6, 7, 8, 9]

In [33]:
list(range(10,15))

[10, 11, 12, 13, 14]

In [34]:
# combine them
list(range(5,10)) + list(range(10,15))

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [36]:
# Se the stepping value
list(range(0,10,2))

[0, 2, 4, 6, 8]

In [38]:
# Another example
s = [0,1,4,6,12]
for i in range(len(s)):
    print(s[i])
    
    #very unpythonic

0
1
4
6
12

In [39]:
for v in s:
    print(v)

0
1
4
6
12

### Enumerate()

This function will return an iterable series

In [41]:
t = [6, 125, 999, 24, 78, 33, 2032493]
for p in enumerate(t):
    print(p)

(0, 6)
(1, 125)
(2, 999)
(3, 24)
(4, 78)
(5, 33)
(6, 2032493)

In [44]:
for v,p in enumerate(t):
    print("i = {}", "v = {}".format(v,p))

i = {} v = 0
i = {} v = 1
i = {} v = 2
i = {} v = 3
i = {} v = 4
i = {} v = 5
i = {} v = 6

# List
It supports **zero and positive index** for indexing from the front of the list

In [47]:
s = "Show how to do it".split()
s

['Show', 'how', 'to', 'do', 'it']

In [48]:
s[3]

'do'

In [51]:
#It supports negative indexing as well
print(s[-2])

#This is better than
print(s[len(s)-2])

44781
44781

## Slicing Lists

In [53]:
a = [3, 16, 4431, 44781, 8854698]
#beginning range to < greater range
a[1:3]

[16, 4431]

In [54]:
# from 1 to all but the last one
a[1:-1]

[16, 4431, 44781]

In [55]:
# starting at one position all the way to the end
a[2:]

[4431, 44781, 8854698]

In [56]:
a[:3]

[3, 16, 4431]

In [57]:
# For the full flice use : withouth any parameters
a[:]

[3, 16, 4431, 44781, 8854698]

### Copying a list

In [58]:
# recall
s = [3, 16, 4431, 44781, 8854598]
t = s
t is s

True

In [59]:
# W can deploy full slice to perform a copy into a new list
t = s[:]
t is s

False

In [60]:
# the values are the same
t == s

True

In [61]:
# it is recommened to use the copy() method instead of a full slice
u = s.copy()
u is s

False

In [63]:
print(s)
print(u)

[3, 16, 4431, 44781, 8854598]
[3, 16, 4431, 44781, 8854598]

In [65]:
# or use the list constructor, passing the list to be copied:
v = list(s)
v is s

False

## ALL COPIES ARE SHALLOW IN PYTHON

In [2]:
a = [[1,2], [3, 4]]
#copy the list with full slice
b = a[:]
a is b

False

In [67]:
# same values?
a == b

True

In [68]:
a[0]

[1, 2]

In [69]:
b[0]

[1, 2]

In [70]:
#but in fact they point to the same object
a[0] is b[0]

True

In [3]:
a[0] = [8,9]

In [4]:
a[0] is b[0]

False

In [5]:
print(a[1].append(5))

None

## Repeating a list

In [6]:
c = [21, 37]
d = c * 4
print(c)
print(d)

[21, 37]
[21, 37, 21, 37, 21, 37, 21, 37]

In [12]:
# Task create a list of 100 members initialize to 0
f = [0] * 100
print(f)
print(len(f))

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
100

In [13]:
# All copies are shallow
s = [[-1, +1]] * 5
print(s)

[[-1, 1], [-1, 1], [-1, 1], [-1, 1], [-1, 1]]

In [14]:
s[2].append(7)
print(s)

[[-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7], [-1, 1, 7]]

## Finding the first element with index
Use the **index()** method passing the object you are searching for.

In [20]:
w = "the quick brown deer jumps over the lazy dog at weber".split()
print(w)

['the', 'quick', 'brown', 'deer', 'jumps', 'over', 'the', 'lazy', 'dog', 'at', 'weber']

In [18]:
# get the index of an element
i=w.index("dog")
print(i)

8

In [19]:
# iff the value is not present, you recieve a ValueError exception
w.index("state")

ValueError: 'state' is not in list

### Membership testing with count() and in

In [21]:
w.count("the")

2

In [22]:
"the" in w

True

In [23]:
78 not in [1,2, 8, 99]

True

### Removing list elements by index with delete
Use the **del** keywrd. It take one parameter which is reference to a list element and removes it from the list

In [24]:
w = "the quick brown deer jumps over the lazy dog at weber".split()
print(w)
del w[0]
print(w)

['the', 'quick', 'brown', 'deer', 'jumps', 'over', 'the', 'lazy', 'dog', 'at', 'weber']
['quick', 'brown', 'deer', 'jumps', 'over', 'the', 'lazy', 'dog', 'at', 'weber']

### Removing list elements by value with remove()

In [25]:
w = "the quick brown deer jumps over the lazy dog at weber".split()
print(w)
w.remove("dog")
print(w)

['the', 'quick', 'brown', 'deer', 'jumps', 'over', 'the', 'lazy', 'dog', 'at', 'weber']
['the', 'quick', 'brown', 'deer', 'jumps', 'over', 'the', 'lazy', 'at', 'weber']

### Inserting in a list
Use the **insert()** method, which accepts the index of the new item

In [32]:
a = "I accidentally the whole universe".split()
a

['I', 'accidentally', 'the', 'whole', 'universe']

In [33]:
a.insert(2, "destroyed")
a

['I', 'accidentally', 'destroyed', 'the', 'whole', 'universe']

In [34]:
# Join it back with a space
' '.join(a)

'I accidentally destroyed the whole universe'

## Concatenating a list

In [35]:
m = [2,1,4]
n = [4,7,9]
k = m + n
print(k)

[2, 1, 4, 4, 7, 9]

In [36]:
# where as the augmented assignment operator += modifires the assigned in place:
k += [18, 45, 58]
print(k)

[2, 1, 4, 4, 7, 9, 18, 45, 58]

In [37]:
# Similar effcect with extend()
k.extend([76, 22, 11])
print(k)

[2, 1, 4, 4, 7, 9, 18, 45, 58, 76, 22, 11]

### Rearranging list elements
Use the **reverse()** method

In [39]:
g = [1, 21, 23, 15, 22322]
g.reverse()
print(g)

[22322, 15, 23, 21, 1]

### Sorting elements

In [40]:
d = [22,88,11,33, 99]
d.sort()
print(d)

[11, 22, 33, 88, 99]

In [41]:
# sor in serverse order
d = [22,88,11,33, 99]
d.sort(reverse=True)
print(d)

[99, 88, 33, 22, 11]

In [42]:
d = [22,88,11,33, 99]
d.sort(reverse=False)
print(d)

[11, 22, 33, 88, 99]

### Use the key paramenter

In [43]:
h = "not perplexing do handwriting family where I illegible know doctors.".split()
print(h)

['not', 'perplexing', 'do', 'handwriting', 'family', 'where', 'I', 'illegible', 'know', 'doctors.']

In [44]:
h.sort(key=len)
print(h)

['I', 'do', 'not', 'know', 'where', 'family', 'doctors.', 'illegible', 'perplexing', 'handwriting']

In [45]:
" ".join(h)

'I do not know where family doctors. illegible perplexing handwriting'