# Objectives
* Collections
    * Tuple
    * Strings
    * Range
    * List
    * Dictionaries
    * Set
    * Collection Protocol

## Collections
We already discussed these built-in collections
* str: the immutable string sequence of Unicdoe code points
* list: the mutable sequence of objects
* dict: the mutable dictionary mapping from immutable keys to mutable objects

## Tuple
Immutable sequence of arbitrary objects. Once created they cannot be replaced or removed and new elements cannot be added.

Similar to a list but they are delimited by parenthesis rather than brackets.

In [1]:
t = ("Ogden", 1.99, 2)
type(t)

tuple

In [3]:
# TO access members use brackets like any other collection
print(t[0])

Ogden

In [5]:
# get number of elements
len(t)

3

In [6]:
# Iterate over the collection
for item in t:
    print(item)

Ogden
1.99
2

In [8]:
# Concatenating and repetition of tuples
t + ("hello", 265e10)

('Ogden', 1.99, 2, 'hello', 2650000000000.0)

In [9]:
t

('Ogden', 1.99, 2)

In [10]:
# Repeat
t * 4

('Ogden', 1.99, 2, 'Ogden', 1.99, 2, 'Ogden', 1.99, 2, 'Ogden', 1.99, 2)

In [11]:
# Nested tuples
a = ((220, 284), (1184, 456), (99, 10))

In [12]:
print(a)

((220, 284), (1184, 456), (99, 10))

In [13]:
print(a[2][1])

10

In [14]:
# Parentheis are optional
p = 1, 1, 2, 4, 5, 8
p

(1, 1, 2, 4, 5, 8)

In [15]:
type(p)

tuple

# Dictionaries
Values are accessible via the keys, since the key is associated with exactly one value. You can not have duplicates. Internally it maintains a pair of references to the key object and the value object. The **key** object must be immutable, so strings, numbers, and even tuples are fine. The **value** object can be mutable.

In [1]:
urls = {'Google':'http://google.com','Twitter':'http://twitter.com', 'WSU':'http://weber.edu'}

In [2]:
#values are accessed by key using brackets
urls['WSU']

'http://weber.edu'

In [3]:
# Never rely on the order items in the dictionary
urls

{'Google': 'http://google.com',
 'Twitter': 'http://twitter.com',
 'WSU': 'http://weber.edu'}

### The dict() constructor
Can conver other types to dictionaries

In [4]:
names_and_ages = [('Alice', 32), ('Mario', 38), ('Waldo',21)]

In [5]:
d = dict(names_and_ages)
print(d)

{'Alice': 32, 'Mario': 38, 'Waldo': 21}

In [6]:
# Create it on the fly
phonetic = dict(a='alfa', b='bravo', c='charlie', d='delta', e='echo')
print(phonetic)

{'a': 'alfa', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo'}

### Copy dictionaries
Use the **copy()** method or the **dict()** constructor

In [7]:
c_phonetic = phonetic.copy()
print(c_phonetic)

{'a': 'alfa', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo'}

In [8]:
c_phonetic is phonetic #not the same object made an actual copy

False

In [9]:
f = dict(phonetic)
print(f)
print(f is phonetic)

{'a': 'alfa', 'b': 'bravo', 'c': 'charlie', 'd': 'delta', 'e': 'echo'}
False

### Updating Dictionaries
Use the **update()** method

In [12]:
stocks = {'GOOG':891, 'AAPL':416, 'IBM':188}
print(stocks)
# usually for more than one entry update
stocks.update({'GOOG':766, 'YHOO':12})
print(stocks)

{'GOOG': 891, 'AAPL': 416, 'IBM': 188}
{'GOOG': 766, 'AAPL': 416, 'IBM': 188, 'YHOO': 12}

### Iterating over dictionary keys

In [13]:
for k in stocks:
    print("{key} => {value}".format(key=k, value=stocks[k]))

GOOG => 766
AAPL => 416
IBM => 188
YHOO => 12

In [14]:
# Iterate over values
for value in stocks.values():
    print(value)

766
416
188
12

In [15]:
# Iterate over both: key and values
for k, v in stocks.items():
    print("{key}=>{value}".format(key=k, value=v))

GOOG=>766
AAPL=>416
IBM=>188
YHOO=>12

In [18]:
# Testing membership
'GOOG' in stocks

True

In [19]:
'Apple' in stocks

False

In [20]:
# Deleting member use del keyword
print(stocks)
del stocks['YHOO']
print(stocks)

{'GOOG': 766, 'AAPL': 416, 'IBM': 188, 'YHOO': 12}
{'GOOG': 766, 'AAPL': 416, 'IBM': 188}

### Mutability of dictionaries
We cannot modify the key, but we can modify the value

In [21]:
m = {'H':[1,2,3],
     'He':[3,4],
     'Li':[6,7],
     'Be':[7,9,10],
     'B':[10,11],
     'C':[11, 12, 13, 14]  
}
print(m)

{'H': [1, 2, 3], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 9, 10], 'B': [10, 11], 'C': [11, 12, 13, 14]}

In [22]:
m['H']=[4,5,6,7]
print(m)

{'H': [4, 5, 6, 7], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 9, 10], 'B': [10, 11], 'C': [11, 12, 13, 14]}

In [23]:
m['N'] = [13, 14, 15]
print(m)

{'H': [4, 5, 6, 7], 'He': [3, 4], 'Li': [6, 7], 'Be': [7, 9, 10], 'B': [10, 11], 'C': [11, 12, 13, 14], 'N': [13, 14, 15]}

In [24]:
# Use pretty print package. Works on lines > 80 characters
from pprint import pprint as pp
pp(m)

{'B': [10, 11],
 'Be': [7, 9, 10],
 'C': [11, 12, 13, 14],
 'H': [4, 5, 6, 7],
 'He': [3, 4],
 'Li': [6, 7],
 'N': [13, 14, 15]}

# Set
An unordered collection of unqiue, immutable objects

In [25]:
p = {6, 28, 496, 8128, 33550336}
print(p)
print(type(p))

{33550336, 8128, 6, 496, 28}
<class 'set'>

### Use the set() constructor to create sets

In [26]:
e = set()
e

set()

In [27]:
s = set([2,4,16,64,4096,35536,262144])
print(s)

{4096, 64, 2, 262144, 4, 16, 35536}

### Duplicates are removed

In [29]:
t = set([1,4,2,17,7,9,3,1,4])
print(t)

{1, 2, 3, 4, 7, 9, 17}

In [30]:
# Iterate over sets
for x in t:
    print(x)

1
2
3
4
7
9
17

In [32]:
#Test for membership
q = {2, 9, 4, 5}
3 in q

False

Adding elements to sets: Use the **add()** or **update()** methods

In [34]:
k = {81, 108}
print(k)
k.add(54)
print(k)

{81, 108}
{81, 108, 54}

In [37]:
k.update([37, 128, 81, 99, 52])
print(k)

{128, 99, 37, 108, 81, 52, 54}

Removing elements from sets: use the **remove()** method

In [38]:
print(k)
k.remove(37)
print(k)

{128, 99, 37, 108, 81, 52, 54}
{128, 99, 108, 81, 52, 54}

In [39]:
# But be careful of exceptions
k.remove(98)

KeyError: 98

Use the **dicard()** method. It is less fussy and simply ahs no effect if no member of the set is found

In [40]:
k.discard(98)

To copy sets: Use the **copy()** method or the **set()** constructor

In [41]:
j = k.copy()
j is k

False

In [43]:
m = set(k)
m is k

False

In [44]:
# same values
m == k

True

## Set Algebra Operations

In [48]:
blue_eyes = {'Olivia', 'Harry', 'Lily', 'Amelia', 'Jack'}
blond_hair = {'Harry', 'Jack', 'Amelia', 'Mia', 'Joshua'}
smell_hcn = {'Harry', 'Amelia'}
taste_ptc = {'Harry', 'Lily', 'Amelia', 'Olivia'}
o_blood = {'Mia', 'Jack', 'Lia'}
a_blood = {'Harry'}
ab_blood = {'Joshua', 'Lola'}

Union method: OR

In [49]:
blue_eyes.union(blond_hair)

{'Amelia', 'Harry', 'Jack', 'Joshua', 'Lily', 'Mia', 'Olivia'}

Intersection method: AND

In [50]:
blue_eyes.intersection(blond_hair)

{'Amelia', 'Harry', 'Jack'}

Difference method: In one but not in other

In [51]:
blond_hair.difference(o_blood)

{'Amelia', 'Harry', 'Joshua'}

Symmetric Difference: in one or the other, but NOT both

In [52]:
blond_hair.symmetric_difference(taste_ptc)

{'Jack', 'Joshua', 'Lily', 'Mia', 'Olivia'}